.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: black;
}

.player {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-image: url("../Lo_Fi_Ship_2.png");
}

.wall {
  width: 100%;
  height: 6em;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translate(0, 112px);
  /* animation: moveWall;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear; */
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('CRT.png');
  background-size: cover;
  z-index: 4;
  transform: none !important;
}

.door {
  width: 25%;
  border-bottom: 4px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 96px;
}

.door:first-of-type {
  border-left: none;
}

.door:last-of-type {
  border-right: none;
}
