.play-again-btn {
  background-color: green;
  border-radius: none;
  color: white;
  padding: 2em;
  border: none;
  outline: none;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  font-size: 24px;
}

.play-again-btn:hover {
  filter: brightness(1.3);
}

.play-again-btn:focus {
  outline: none;
}

.game-over-modal {
  background: white;
  left: 50%;
  transform: translate(-50%, -500px);
  position: fixed;
  width: 20em;
  padding: 1em;
  z-index: 5;
}

.game-over-modal > p {
  font-size: 36px;
  margin: 0 0 1em;
}